$background: rgb(255, 255, 255);
$text: rgb(53, 54, 53);
$cart-background: rgb(218, 218, 218);
$cart-background-hover: rgb(255, 255, 255);
$cart-text: rgb(0, 0, 0);
$cart-text-hover: rgb(0, 0, 0);
$cart-title: rgb(55, 66, 64);
$item-border: gray;
