$background: rgb(213, 232, 253);
$text: rgb(53, 54, 53);
$cart-background: rgb(106, 208, 255);
$cart-background-hover: rgb(215, 241, 239);
$cart-text: rgb(56, 63, 62);
$cart-text-hover: rgb(112, 214, 197);
$cart-title: rgb(55, 66, 64);
$item-border: gray;