$background: rgb(20, 102, 78);
$text: rgb(186, 201, 189);
$cart-background: rgb(19, 65, 92);
$cart-background-hover: rgb(84, 126, 122);
$cart-text: rgb(112, 214, 197);
$cart-text-hover: rgb(112, 214, 197);
$cart-title: rgb(112, 214, 197);
$item-border: gray;