.cartmenu {
    height: 100vh;
    width: 20em;
    right: -20em;
    background-color: gray;
    position: fixed;
    z-index: 1060;
    -webkit-transition: right 0.2s;
    transition: right 0.2s;
}

.cartmenuopen {
    right: 0em;
}

.seecartmenu {
    position: fixed;
    right: 0em;
    width: 5em;
    -webkit-transition: right 0.2s;
    transition: right 0.2s;
}

.seecartmenuopen {
    right: 20em;
    transition: right 0.2s !important;
}

.highlight {
    border-style: solid;
    border-width: 2px;
    border-color: gray;
    border-radius: 1px;
}

img {
    width: inherit;
}